page-login {
    .content{
        background-image: url(../assets/imgs/2614.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      } 

      .item.item-trns {
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);

    }
    
}
